/* external style */

h3 {
	color:hsl(180, 100%, 60%);
	border-color:blue;
	/*border-style:double;*/
	border-top-style:solid;
	border-right-style:dotted;
	border-bottom-style:dashed;
	border-left-style:double;
	border-width:4px;
	/*border-style: dotted dashed solid double;*/  
	/*border-width:thick;*/
	border-width:medium;
}

p {
	border:2px solid red;
	height:150px;
	width:150px;
	/*margin-top:50px;
	margin-left:50px;*/
	margin:70px 100px;
   /* margin:auto;*/
    
    padding:40px;
    /*padding-top:20px;
    padding-left:40px;*/
    
    background-color:gray;
 }
 body
 {
 background-image:url("index.jpg");

  background-repeat:repeat-x;
 /* background-repeat:repeat-y;*/
 }


	